In [1]:
#Importing libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("D:\Data Analysis\creditcard.csv")

In [3]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
#Here we have very less data point which is fradulant, so we cannot use this to tain the model
#So we have to use the process of handling unbalanced data
#Here in Class label 0 indicate normal transaction and 1 indicate fraud transaction.

#Seperating data for analysis

In [10]:
genuine = data[data.Class==0]
fraud = data[data.Class==1]

In [11]:
fraud.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1

In [13]:
genuine.shape

(284315, 31)

In [14]:
fraud.shape

(492, 31)

In [15]:
genuine.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
#Comapring values for both transaction

In [17]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
#From the above we can we can analyze many things.
#For example if we look at V1 then the V1 for genuine transaction is 0.008258 and for fraud transaction is -4.771948
#So there is a huge difference and same thing we can observe for V2, V3,........,V28 and amount.

In [ ]:
# Now since we have unbalanced data so we will build a sample data from the original data such that it contains similar number
#genuine transaction and fraud transaction. We will takd all the fraud datapoint

In [20]:
genuine_sample = genuine.sample(n=492) #it will randomly sample the data

In [21]:
new_data=pd.concat([genuine_sample, fraud], axis=0) #it will be added row wise

In [22]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279300,168768.0,2.039838,-0.151280,-1.221325,0.203119,0.099648,-0.587125,0.026234,-0.110050,0.377646,...,-0.263711,-0.673849,0.291428,-0.478766,-0.305637,0.209974,-0.074766,-0.075852,0.99,0
178494,123654.0,-0.570340,-0.193223,1.277757,-2.404142,-0.300861,0.063183,-0.079939,0.205070,-0.812020,...,0.442034,1.090223,-0.205773,0.707890,-0.084975,-0.241122,-0.019344,0.132218,39.00,0
135706,81367.0,1.239761,0.154640,0.480138,0.731010,-0.684502,-1.220120,0.026929,-0.206890,0.171699,...,0.056484,0.167957,-0.029201,0.735970,0.452023,0.411253,-0.040206,0.012982,5.51,0
267830,162948.0,-0.221009,1.095670,-0.680917,-0.458303,0.419676,-0.806871,0.544131,0.326017,0.018584,...,0.390564,1.172148,-0.031998,0.673355,-0.803261,-0.240450,0.374892,0.262206,0.89,0
114087,73329.0,-0.524298,0.445443,1.675108,-1.077201,0.009527,-0.731215,0.382801,0.138225,0.344169,...,-0.051521,-0.382376,-0.063380,-0.184251,-0.188820,-0.093980,-0.027492,0.029353,9.40,0

In [23]:
new_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [24]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [25]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95267.365854,-0.054288,-0.144981,-0.005025,0.045556,0.074182,-0.139525,0.089306,-0.030945,-0.029106,...,0.048172,-0.003293,-0.043243,0.039096,0.030336,0.002539,-0.008110,0.002395,0.000212,103.001341
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [26]:
x=new_data.drop(columns='Class', axis=1)
y=new_data['Class']

In [27]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
279300,168768.0,2.039838,-0.151280,-1.221325,0.203119,0.099648,-0.587125,0.026234,-0.110050,0.377646,...,-0.237886,-0.263711,-0.673849,0.291428,-0.478766,-0.305637,0.209974,-0.074766,-0.075852,0.99
178494,123654.0,-0.570340,-0.193223,1.277757,-2.404142,-0.300861,0.063183,-0.079939,0.205070,-0.812020,...,-0.057158,0.442034,1.090223,-0.205773,0.707890,-0.084975,-0.241122,-0.019344,0.132218,39.00
135706,81367.0,1.239761,0.154640,0.480138,0.731010,-0.684502,-1.220120,0.026929,-0.206890,0.171699,...,-0.158605,0.056484,0.167957,-0.029201,0.735970,0.452023,0.411253,-0.040206,0.012982,5.51
267830,162948.0,-0.221009,1.095670,-0.680917,-0.458303,0.419676,-0.806871,0.544131,0.326017,0.018584,...,-0.200835,0.390564,1.172148,-0.031998,0.673355,-0.803261,-0.240450,0.374892,0.262206,0.89
114087,73329.0,-0.524298,0.445443,1.675108,-1.077201,0.009527,-0.731215,0.382801,0.138225,0.344169,...,-0.326644,-0.051521,-0.382376,-0.063380,-0.184251,-0.188820,-0.093980,-0.027492,0.029353,9.40

In [28]:
y.head()

279300    0
178494    0
135706    0
267830    0
114087    0
Name: Class, dtype: int64

In [ ]:
#Now we will split the data into training data and testing data

In [29]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [ ]:
#stratify = y means that there will be evenly distributed data of 'class' in test and train

In [30]:
print(x_train)

            Time         V1        V2         V3        V4         V5  \
100623   67571.0  -0.758469 -0.045410  -0.168438 -1.313275  -1.901763
266082  162181.0  -2.981814 -1.653300   1.454859 -1.849831   0.470796
123713   77033.0   1.045538 -0.132025   1.359812  1.227036  -0.834192
119220   75374.0   0.049711 -2.383009   0.074474  0.499555  -1.218055
271149  164434.0   0.020427  0.736160   0.229100 -0.589813   0.357953
...          ...        ...       ...        ...       ...        ...
246950  153399.0  -0.935695 -0.153176  -0.387980 -0.382526   1.597895
171099  120496.0  -3.004806 -4.552783  -3.557798  1.317587   2.491438
223618  143456.0  -2.006582  3.676577  -5.463811  7.232058  -1.627859
43061    41353.0 -15.020981  8.075240 -16.298091  5.664820 -11.918153
111499   72248.0  -1.939661  1.557078   2.006027 -0.544493   0.624586

              V6         V7        V8        V9  ...       V20       V21  \
100623  0.739433   3.071892 -0.483422  0.618203  ... -0.032500  0.042619
266082 -2.234911  -0.454558  0.564085  0.611512  ...  0.618009  0.075797
123713  0.481480  -0.728206  0.359926  0.605839  ... -0.150499  0.033064
119220  0.780257   0.049690  0.097774  1.212388  ...  1.148657  0.105980
271149 -1.029323   0.923123 -0.107625  0.145062  ... -0.105719 -0.268976
...          ...        ...       ...       ...  ...       ...       ...
246950 -1.069620   1.113538 -0.511238  0.803294  ... -0.231939 -0.634955
171099  3.261519   1.079042  1.170038 -0.759011  ...  2.423193  1.171154
223618 -0.996755  -4.299833  2.268867 -3.651067  ...  0.474414  0.713907
43061  -4.246957 -14.716668  9.435084 -6.795398  ... -0.995787  2.525115
111499 -0.551535   2.070870 -1.685715  2.998952  ...  1.479785 -0.853719

             V22       V23       V24       V25       V26       V27       V28  \
100623  0.397224  0.072229 -0.242276  0.560916 -0.540955  0.150606 -0.117140
266082 -0.834942  0.062521  0.440886  0.324242  0.245262  0.070125 -0.280715
123713  0.293337  0.034155  0.236264  0.285391 -0.410164  0.085065  0.027554
119220 -0.788067 -0.529060 -0.653348 -0.053760  0.959455 -0.134592  0.108276
271149 -0.663248  0.098816 -0.125319 -0.533797  0.151750  0.239659  0.094179
...          ...       ...       ...       ...       ...       ...       ...
246950 -0.788538  0.866730  0.458369 -0.261443  0.108920  0.102726 -0.442646
171099  0.822506  1.941126  0.641701 -0.447586 -0.499290 -0.176811 -0.413885
223618 -0.063868  0.167947 -0.449864  0.023702  0.536905  0.485864 -0.042393
43061  -0.832074 -0.186117  0.429781  0.697103  0.056031 -1.310888 -0.707403
111499 -0.346417 -0.343524  0.359068  0.128049  0.029299 -0.445964 -1.025230

        Amount
100623  549.06
266082  100.00
123713   12.99
119220  618.08
271149    8.98
...        ...
246950   17.99
171099  801.00
223618    1.00
43061    34.12
111499    6.09

[787 rows x 30 columns]

In [31]:
print(x_test)

            Time         V1         V2         V3         V4         V5  \
247995  153761.0   1.146259   1.403458  -4.159148   2.660107  -0.323217
81048    58768.0   1.366968  -0.532599   0.386075  -0.626933  -1.090064
140052   83511.0  -0.916656   0.996912   2.114384   1.082337  -1.104885
143292   85253.0   0.598383   1.763987  -1.636349   1.736573   0.910197
15451    26833.0 -20.532751  12.373989 -23.009003   6.144821 -15.587296
...          ...        ...        ...        ...        ...        ...
108258   70828.0   0.196707   1.189757   0.704882   2.891388   0.045555
12108    21046.0 -16.917468   9.669900 -23.736443  11.824990  -9.830548
99506    67150.0  -1.824295   0.403327  -1.994122   2.756558  -3.139064
74496    55614.0  -7.347955   2.397041  -7.572356   5.177819  -2.854838
260600  159631.0  -0.638849   0.702027   0.429364  -0.083458   0.118950

              V6         V7         V8        V9  ...       V20       V21  \
247995 -1.836071  -1.623740   0.259562 -1.132044  ...  0.284831  0.564450
81048  -1.065775  -0.477612  -0.231155 -0.772828  ...  0.112216  0.158710
140052 -0.049506  -0.411277   0.755500  0.369418  ... -0.061552 -0.006409
143292 -1.662426   0.984540  -0.272202 -0.454400  ...  0.094576 -0.055777
15451  -4.384491 -15.939003  13.696416 -3.948455  ...  1.592754  1.754608
...          ...        ...        ...       ...  ...       ...       ...
108258  1.245730  -1.198714  -2.421616 -1.232089  ...  0.646616 -1.328132
12108  -2.514829 -17.290657   1.820408 -6.264903  ...  0.996745 -2.336111
99506   0.408185  -1.209045   1.095634 -1.447225  ...  1.503688  0.838760
74496  -1.795239  -8.783235   0.437157 -3.740598  ...  0.073164 -0.175273
260600 -0.187018  -0.109163   0.614648  0.473412  ... -0.536028  0.413496

             V22       V23       V24       V25       V26       V27       V28  \
247995  0.445744 -0.141136 -0.265517  0.362260 -0.416062  0.507370  0.243744
81048   0.325481 -0.064841  0.410056  0.485696 -0.209920 -0.001159  0.019718
140052  0.077001 -0.108486  0.345586 -0.031918 -0.303443  0.275835  0.123201
143292  0.115428  0.179853  0.282938 -0.585715 -0.420341  0.145423  0.017078
15451  -1.466115 -0.856779  0.125777  1.402587 -0.223755  1.574249  0.469201
...          ...       ...       ...       ...       ...       ...       ...
108258  0.189311 -0.005524 -0.814708  0.400924  0.286281  0.135215  0.257315
12108   0.972755  1.241866 -1.051086  0.038009  0.672317  2.108471 -1.421243
99506   0.341727  0.947506 -0.145493  0.049326  0.831065  0.332421  0.252713
74496   0.543325 -0.547955 -0.503722 -0.310933 -0.163986  1.197895  0.378187
260600  1.007338  0.185128  0.524770 -1.074018 -0.880666  0.049541  0.203892

        Amount
247995   51.37
81048    34.99
140052    9.99
143292   12.17
15451    99.99
...        ...
108258    0.76
12108     1.00
99506   489.71
74496     0.83
260600    1.00

[197 rows x 30 columns]

In [32]:
print(y_train)
print(y_test)

100623    1
266082    0
123713    0
119220    0
271149    0
         ..
246950    0
171099    0
223618    1
43061     1
111499    0
Name: Class, Length: 787, dtype: int64
247995    1
81048     0
140052    0
143292    0
15451     1
         ..
108258    1
12108     1
99506     1
74496     1
260600    0
Name: Class, Length: 197, dtype: int64

Model Training

Linear Regression

In [33]:
model=LogisticRegression()

In [ ]:
#Now we will train the model.

In [34]:
model.fit(x_train, y_train)

LogisticRegression()

In [ ]:
#Checking the model with accuracy score

In [35]:
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction, y_train)

In [36]:
training_data_accuracy

0.9415501905972046

In [37]:
x_test_prediction=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction, y_test)

In [38]:
test_data_accuracy

0.9390862944162437

In [ ]:
#if trainning accuracy is very high for example train_accuracy =94% and test_accuracy=50% then there is overfitting of
#training data and vice versa for underfitting.

Since we got high accuracy in Logistic Regression model which is around 94%, therefore we will use this model for further prediction.